---
layout: layouts/home.njk
---
<div id="recap-container">
<div id="blog-posts">
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(10) %}
<h1><a href="/post/">Blog</a></h1>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = postsCount %}
{% include "postsstart.njk" %}

<p><a href="/post/">More posts</a>.</p>
</div>

<div id="mastodon-posts">
<h1><a href="https://infosec.exchange/@davidrisney">Mastodon</a></h1>
<a class="mastodon-feed" href="https://infosec.exchange/@davidrisney" data-toot-limit="10"></a>
<script type="module" src="emfed.js"></script>
<link rel="stylesheet" type="text/css" href="css/toots.css">
</div>
</div>