---
layout: layouts/home.njk
---
<div class="grid-2-columns">
<div id="blog-posts" class="grid-column-1">
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(10) %}
<h1><a href="/post/">Blog</a></h1>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = postsCount %}
{% include "postsstart.njk" %}

{% if postsCount > 10 %}
<p><a href="/post/">More posts</a>.</p>
{% endif %}
</div>

<div id="mastodon-posts" class="grid-column-2">
<h1><a href="https://infosec.exchange/@davidrisney">Mastodon</a></h1>
<a class="mastodon-feed" href="https://infosec.exchange/@davidrisney" data-toot-limit="10"></a>
<script type="module" src="https://esm.sh/emfed@1"></script>
<link rel="stylesheet" type="text/css" href="https://esm.sh/emfed@1/toots.css">
</div>
</div>