.toots {
  max-width: 400px;
  list-style: none;
  padding: 0;
}

.toot .body .ellipsis::after {
  content: "…";
}

.toot .attachment {
  display: block;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.toot .attachment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
