<!doctype html>
<html lang="{{ metadata.language }}" class="gradient-background">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="icon" type="image/svg+xml" href="/img/semicolon.svg">

		<link rel="me" href="https://github.com/david-risney">
		<link rel="me" href="https://infosec.exchange/@davidrisney">
		<link rel="me" href="mailto:david.risney@gmail.com">

		<style>
		{% include "public/dave/css/index.css" %}
		</style>
		<script>
window.addEventListener("pageswap", async (e) => {
	if (e.viewTransition) {
		if (navigation.activation.from.url === navigation.activation.entry.url) {
			e.viewTransition.types.add('reload');
		} else {
			e.viewTransition.types.add('forwards');
		}
	}
});

window.addEventListener("pagereveal", async (e) => {
	if (e.viewTransition) {
		if (navigation.activation.from.url === navigation.activation.entry.url) {
			e.viewTransition.types.add('reload');
		} else {
			e.viewTransition.types.add('forwards');
		}
	}
});
		</script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header id="floatyHeader">
			<a href="/dave/" class="home-link"><code>{{ metadata.title }}</code>{#<!-- img src="/img/semicolon-dark.svg" class="logo" -->#}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			{# <!-- img alt="An old photo of me wearing a suit in a hotel room" id="meImage" src="/dave/img/me-old.png"--> #}
			<a href="/dave/about/"><img alt="A photo of me wearing a white button up shirt standing in front of generic office building windows." id="meImage" src="/dave/img/me-now.jpeg"></a>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
					<li class="nav-item"><a href="/feed/feed.xml"><!-- img class="logo" src="/img/rss-dark.svg" -->Feed</a></li>
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
